<header>
    <div class="bg-wrap">
        <div class="bg"></div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Transparent Bitcoin Custody</h1>
            <p>
                We empower the way you store your bitcoins
                <!--
                Solutions for institutional investors and
                high-net-worth individuals
                <br>
                We reject <em>security by obscurity</em>
                in favor of an extremely auditable process:
                our main solution is based on a
                public open standard protocol:
                multi-level, multi-party, and multi-location,
                it provides periodic <em>proof-of-reserve</em>
                blockchain transactions,
                is hardened by customized multi-signature hardware,
                and is covered by insurance guarantees.
                <br>
                We customize our custody services
                according to client's requirements:
                long term safe storage, inheritance plan,
                or arbitrage trading<-->
        </div>
    </div>
</header>